@charset "utf-8";

/*
Mobile:


Médios (Smartphones): Até 768px (muitas vezes referidos como "tablet" em orientação vertical)
Tablet:

Pequenos (Tablets em paisagem): Até 992px
Grandes (Tablets e pequenos laptops): Até 1024px
Desktop:

Pequenos (Laptops pequenos): Até 1200px
Médios (Monitores padrão): Até 1440px
Grandes (Monitores grandes): Acima de 1440px
*/


    @media screen and (min-width:768px) and (max-width:992px) {
        
        body, html {
            background-image: linear-gradient(to top, #49a09d, #5f2c82);
        }

        section#login {
            width: 80vw;
            height: 285px;
        }
        
        section#login > div#imagem {
            float: left;
            width: 30%;
            height: 100%;
        }
        section#login > div#formulario {
            float: right;
            width: 70%;
        }

        div#formulario > p {
            font-size: 1.1em;
        }
        
    }


@media screen and (min-width: 992px){
    
    body, html {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login {
        width: 955px;
        height: 355px;
    }
    
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#f ormulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
    
}